html {
  --color-font: #444;
  --color-font-light: #666;
  --color-font-bold: #738ADB;
  --color-header: #222;
  --color-bg: #DDD;
  --color-bg-bold: #EEE;
  --color-code: #d8e6e7;
  --color-code-border: #6a7f81;
  --color-primary: #36ACB6;
  --color-primary-bold: #40CEDB;
  --color-footer: #444;
  --color-footer-font: #DDD;
}