/* single */

div.article-container {
  padding: 20px 20px;
  background: #555;
}

div.article-end {
  display: inline-block;
  margin-top: 10px;
  min-width: 100%;
  height: 20px;
  background: #36ACB6;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #CCC;

  cursor: pointer;
}

div.article-end:hover {
  background: #40CEDB;
  color: #FFF;
}

/* list, section, taxonomy  */

div.article-list {
  display: inline-block;
  margin-bottom: 10px;
  min-width: 100%;
  height: 50px;
  background: #555;
  overflow: hidden;
}

div.article-type {
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
  background: #36ACB6;

  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  color: #CCC;
  opacity: 0.95;
}

div.article-type:hover {
  color: #FFF;
}

div.article-info {
  display: inline-block;
  margin-left: 10px;
  line-height: 50px;
}

div.article-tags {
  display: inline-block;
  margin-left: 10px;
  line-height: 50px;
  opacity: 0.5;
}

div.article-tags a {
  color: #CCC;
}

div.article-tags a:hover {
  color: #FFF;
}