#footer {
  position: relative;
  margin: 0 0;
  padding-top: 60px;
  padding-bottom: 20px;
  width: 100%;
  opacity: 0.5;
  
  text-align: center;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#footer span {
  font-size: 1rem;
}

#footer-title {
  color: var(--color-primary);
}
