/* desktop */

.nav {
  padding: 0 22px;
  height: 100px;
  align-items: center;
}

.nav-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.links {
  margin-left: 20px;
}

.link {
  margin-right: 10px;
  padding: 5px 0px;
  color: var(--color-font);
  font-size: 16px;
  font-weight: bold;
}

.link:hover {
  color: var(--color-header);
}

/* mobile */

.nav-mobile {
  position: fixed;
  top: 0;
  right: -450px;
  width: 400px;
  height: 100vh;
  transition: all 0.2s ease-in;
  background-color: var(--color-bg-bold);
  opacity: 0;
  z-index: 100;
}

.nav-mobile.open {
  opacity: 1;
}

.link-mobile {
  margin: 10px 0;
  width: fit-content;
}

.line-wrap {
  position: relative;
  display: inline-block;
  padding: 0 5px;
}

.line {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  border-top: solid var(--color-font);
  transition: all 0.1s linear;
  z-index: 500;
}

.line-wrap:hover span.line {
  width: 100%;
}

/* burger */

.burgers {
  position: fixed;
  top: 25px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1000;
}

.burger {
  width: 30px;
  height: 3px;
  background-color: var(--color-font);
  transition: all 0.2s ease-in-out;
}

.burger::before, .burger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: var(--color-font);
  transition: transform 0.2s ease-in-out;
}

.burger::before {
  transform: translateY(-6px);
}

.burger::after {
  transform: translateY(6px);
}

.burgers.toggle .burger {
  background: transparent;
}

.burgers.toggle .burger::before {
  transform: rotate(45deg) translate(0, 0);
}

.burgers.toggle .burger::after {
  transform: rotate(-45deg) translate(0, 0);
}

/* theme toggle*/

.desktop-theme, .mobile-theme {
  align-items: center;
}

.separator-desktop {
  margin: 0 20px;
  height: 30px;
  width: 2px;
  background-color: var(--color-font);
}

.separator-mobile {
  margin: 30px 0;
  height: 2px;
  width: 100px;
  background-color: var(--color-font);
}

.theme {
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  margin-left: 8px;
  width: 45px;
  height: 22px;
  border: 2px solid var(--color-font);
  border-radius: 12px;
}

.button-toggle {
  position: relative;
  left: 0;
  margin: 0 2px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--color-font);
  transition: all 0.3s ease-out;
}

.button-toggle.on {
  left: 23px;
}

/* responsive */

@media screen and (min-width: 0px) {
  .links, .desktop-theme {
    display: none;
  }
  .line {
    border-top-width: 2px;
  }
  /* mobile */
  .nav-mobile {
    padding: 25px;
  }
  .nav-mobile.open {
    right: calc(-450px + min(100vw, 450px));
  }
}

@media screen and (min-width: 450px) {
  .nav-mobile {
    padding: 25px;
  }
  .nav-mobile.open {
    right: 0px;
  }
}

@media screen and (min-width: 800px) {
  .links, .desktop-theme {
    display: flex;
  }
  .burgers, .nav-mobile {
    display: none;
  }
  .line {
    border-top-width: 1px;
  }
}