@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
  --main-color: #40CEDB;
  --main-color-dark: #36ACB6;
}

html,
div {
  margin: 0 0;
  padding: 0 0;
  font-family: 'Quicksand', sans-serif;
}

body {
  margin: 0 0;
  padding: 0 0;
  background: #777;
  color: #CCC;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  font-weight: normal;
  color: var(--main-color-dark);
}

h2 {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--main-color-dark);
}

b,
strong {
  color: var(--main-color);
  font-weight: normal;
}

p, span, ol, ul {
  font-size: 14px;
}

a {
  font-weight: 400;
  color: var(--main-color-dark);
  text-decoration: none;
}

a:hover {
  color: var(--main-color);
}

ul {
  list-style-type: circle;
  padding-left: 30px;
}

ol {
  padding-left: 30px;
}

p img {
  display: block;
  margin: auto;
  max-width:100%;
  height:auto;
  padding: 0 0;
}

code {
  word-wrap: break-word;
  white-space: pre-wrap;
}

table {
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  border-collapse: collapse;
  font-size: 12px;
}

table, th, td {
  border: 1px solid #CCC;
}

th, td {
  padding: 4px;
}

#content-frame {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  height: auto;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: var(--main-color-dark);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
}