@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
:root {
  --color-primary-light: #40CEDB;
  --color-primary: #36ACB6;
  --content-width: 100%;
  --font-size: 10px;
}

html, body, div {
  margin: 0 0;
  padding: 0 0;
  font-family: 'Quicksand', sans-serif;
  font-size: var(--font-size);
}

body {
  background: #555;
  color: #CCC;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1.5rem;
  margin-top: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  font-weight: normal;
  color: var(--color-primary);
}

h2 {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--color-primary);
}

b, strong {
  color: var(--color-primary-light);
  font-weight: normal;
}

p, span, ol, ul {
  font-size: 1rem;
}

a {
  font-weight: 400;
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary-light);
}

ul {
  list-style-type: circle;
  padding-left: 30px;
}

ol {
  padding-left: 30px;
}

p img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
  padding: 0 0;
  cursor: pointer;
}

code {
  word-wrap: break-word;
  white-space: pre-wrap;
}

table {
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  border-collapse: collapse;
  font-size: 1rem;
}

table, th, td {
  border: 1px solid #CCC;
}

th, td {
  padding: 4px;
}

pre {
  padding: 1rem;
}

#container {
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--content-width);
}

/* back */

div.button {
  display: inline-block;
  margin-top: 10px;
  margin-left: calc(50% - 50px);
  width: 100px;
  height: 26px;
  background: var(--color-primary);
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #CCC;
  cursor: pointer;
}

div.button:hover {
  background: var(--color-primary-light);
  color: #FFF;
}

/* scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-light);
}

@media screen and (min-width: 720px) {
  :root {
    --font-size: 12px;
  }
  #container {
    margin-top: 120px;
  }
}

@media screen and (min-width: 1200px) {
  #container {
    margin-top: 70px;
  }
}