/* twitch */

#twitch {
  position: fixed;
  right: 1vw;
  bottom: 1vw;
  min-width: 30vw;
  height: 30vh;
  z-index: 11;
}

#twitch-close {
  display: inline-block;
  padding: 0px 2px;
  background: #36ACB6;
  vertical-align: top;
  line-height: 30.5vh;
  cursor: pointer;
}

#twitch-close:hover {
  background: #40CEDB;
  color: #FFF;
}

iframe {
  display: inline-block;
  width: 30vw;
  height: 30vh;
}
